/* Estilo Geral */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: #2406d1; /* Cor de texto neutra */
  background-color: #f0f4f8; /* Fundo claro e suave em azul claro */
  line-height: 1.6;
}

/* Cabeçalho */
header {
  background-color: #0861c7; /* Azul escuro */
  color: #ffffff; /* Texto branco */
  padding: 20px;
  text-align: center;
}

header nav a {
  color: #d1cfcf; /* Cinza claro */
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s ease;
}

header nav a:hover {
  color: #6e4503; /* Marrom claro ao passar o mouse */
}

/* Imagem de Logo */
header img {
  display: block;
  margin: 0 auto 20px;
  max-width: 100%;
  height: auto;
}

/* Seções */
section {
  margin: 40px auto;
  padding: 20px;
  max-width: 800px;
  background-color: #ffffff; /* Fundo branco para seções */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h1, section h2, section h3, section h4, section h5 {
  color: #096a97; /* Cor de cabeçalho neutra */
  margin-bottom: 20px;
}

section p {
  color: #7d7d7d; /* Cinza médio para parágrafos */
  margin-bottom: 15px;
}

section ul {
  padding-left: 20px;
  color: #3e3e3e; /* Cor neutra para listas */
}

section ul li {
  margin-bottom: 10px;
}

/* Links */
a {
  color: #044858; /* Azul escuro */
  text-decoration: none;
  transition: color 10.3s ease;
}

a:hover {
  color: #043447; /* Marrom escuro ao passar o mouse */
}

/* Rodapé */
footer {
  background-color: #0a4b5c; /* Marrom escuro */
  color: #f5dd0b; /* Texto branco */
  padding: 30px 20px;
  text-align: center;
}

footer div {
  margin-bottom: 20px;
}

footer nav a {
  display: inline-block;
  margin: 5px 10px;
  color: #eed70a; /* Cinza claro */
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer nav a:hover {
  color: #0f485f; /* Marrom claro ao passar o mouse */
}

footer p {
  margin: 10px 0;
}

/* Links rápidos */
footer strong {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

/* Créditos */
footer div:last-child {
  margin-top: 20px;
  font-size: 14px;
  color: #bdc3c7; /* Cinza claro */
}

footer div:last-child a {
  color: #f3ef09; /* Branco */
  text-decoration: underline;
}

footer div:last-child a:hover {
  color: #ebdc08; /* Cinza claro ao passar o mouse */
}
footer a {
  color: #007BFF; /* Cor do link */
  text-decoration: none; /* Remove o sublinhado */
}

footer a:hover {
  color: #0056b3; /* Cor do link ao passar o mouse */
}